.playerDiv{
    height: 500px;
    width: 100%;
    background-color: rgb(173, 173, 54);
    margin-bottom: 100px;
    border-radius: 20px;
    padding-top: 20px;
    color: white;
    

}
.playerImage{
    width: 349px;
    height: 282px;
    margin-left: 21% ;
    border: 2px solid white;
    border-radius: 12px
}